div(ng-include='"components/navbar/navbar.html"')

header#banner.hero-unit
  .container
    h1 What's going on tonight?
    p.lead See which bar interesting tonight and RSVP ahead of time!
    span.fa.fa-cab.fa-3x
    span.fa.fa-glass.fa-3x
    span.fa.fa-thumb-tack.fa-3x
    //span.fa.fa-3x.fa-spinner.fa-spin

.container.main-content
  form.location-form
    h1.text-center Your location tonight!
    p.input-group
      input.form-control(type='text', placeholder='Boston | Paris | London...', ng-model='searchLocation')
      span.input-group-btn
        button.btn.btn-primary(type='submit', ng-click='getThing()', ng-disabled='!searchLocation || barSearching')
          i.fa.fa-search(ng-hide='barSearching')
          i.fa.fa-spin.fa-spinner(ng-show='barSearching')
  .row
    .col-lg-12(ng-show='businesses')
      h1.text-center Want to try?
      .media-list.list-group.col-md-6.col-sm-12(ng-repeat='biz in businesses')
        .media.list-group-item
          a.pull-left(href='{{device==="unknown" ? biz.url: biz.mobile_url}}', tooltip='{{biz.name}}')
            img.media-object.img-rounded(ng-src='{{biz.image_url}}')
          .media-body
            a.badge.btn.pull-right(href='#', ng-click='toggleJoin(biz)', ng-class='{"alert-danger": biz.users.indexOf(getCurrentUser()._id) === -1, "alert-info": biz.users.indexOf(getCurrentUser()._id) !== -1}', ng-model='biz.users.length') {{biz.users.length || 0}} GOING
            h4.media-heading.lead {{biz.name}}
            p: em {{biz.snippet_text}}
          p.clearfix
            img(ng-src='{{biz.rating_img_url}}')
            span.badge.pull-right {{biz.review_count}}

footer.footer
  .container
    p
      | Angular Fullstack v2.1.1
      = ' | '
      a(href='https://twitter.com/thanhacun') @thanhacun
      = ' | '
      a(href='https://github.com/thanhacun/tonight/issues?state=open') Issues
